## SECTION 3: DATA STRUCTURES

In [2]:
# Exercise 3.1: List of fruits
fruits = ['ndizi', 'nazi', 'maembe', 'fenesi', 'nanasi']
print(f"Third fruit: {fruits[2]}")

Third fruit: maembe

In [3]:
# Exercise 3.2: Dictionary
person = {
    'name': 'Jamila Muhammad',
    'age': 28,
    'residence': 'Allsops'
}
print(f"Name: {person['name']}, Age: {person['age']}, Residence: {person['residence']}")

Name: Jamila Muhammad, Age: 28, Residence: Allsops

In [7]:
# Exercise 3.3: Tuple (immutable)
fruits_tuple = ('ndizi', 'nazi', 'maembe', 'fenesi', 'nanasi')
print(f"Third fruit: {fruits_tuple[2]}")  

# Uncomment to see the error
# fruits_tuple[2] = 'chungwa'  # This will raise a TypeError

print("Tuples are immutable, you cannot change their values after creation.")

Third fruit: maembe
Tuples are immutable, you cannot change their values after creation.

In [8]:
# Exercise 3.4: Set from list with duplicates
fruits_with_duplicates = ['ndizi', 'nazi', 'maembe', 'fenesi', 'nanasi', 'ndizi']
fruits_set = set(fruits_with_duplicates)
print(f"Fruits set (duplicates removed): {fruits_set}")

Fruits set (duplicates removed): {'fenesi', 'ndizi', 'maembe', 'nanasi', 'nazi'}

In [9]:
# Challenge 3: User input to list and set
def list_to_set():
    user_inputs = []

    print("Enter 5 values:")
    for i in range(5):
        value = input(f"Value {i+1}: ")
        user_inputs.append(value)

    print(f"Original list: {user_inputs}")
    unique_values = set(user_inputs)
    print(f"Unique values set: {unique_values}")

In [10]:
list_to_set()

Enter 5 values:
Original list: ['1', '2', '3', '4', '5']
Unique values set: {'3', '1', '4', '5', '2'}